<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/"><i class="fa fa-map-o"></i> JsMaps</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% assign current = nil %}
                {% assign blogPrinted = nil %}
                {% if page.url == '/index.html' %}
                  {% assign current = 'active' %}
                {% endif %}
                <li class="{{ current }}"><a href="{{ '/' | prepend: site.baseurl }}">Dashboard</a></li>
                {% for link in site.pages %}
                   {% assign current = nil %}
                   {% if page.url == link.url%}
                      {% assign current = 'active' %}
                   {% endif %}
                    {% if 'Blog' == link.title and page.theblog == true %}
                      {% assign current = 'active' %}
                   {% endif %}
                    {% if 'Blog' == link.title and page.title == 'Blog' %}
                      {% assign current = 'active' %}
                   {% endif %}
                    {% if link.id ==  'example' %}
                        {% continue %}
                    {% endif %}
                    {% if page.id == 'example' and link.title ==  'Examples' %}
                      {% assign current = 'active' %}
                    {% endif %}
                    {% if 'Blog' == link.title and blogPrinted == nil %}
                        {% assign blogPrinted = 'active' %}
                    {% elsif 'Blog' == link.title and blogPrinted != nil %}
                        {% continue %}
                    {% endif %}
                   {% if link.title %}
                     <li class="{{ current }}"><a href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a></li>
                   {% endif %}
                {% endfor %}
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->
