<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
  <link rel="stylesheet" href="{{ "/css/offcanvas.css" | prepend: site.baseurl }}" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <script src="https://cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script type="text/javascript">var LIBRARY_VERSION = "{{site.version}}"</script>
  <script src="{{ "/jsfiles/exampleLoader.js" | prepend: site.baseurl }}"></script>

    <script src="https://cdn.jsdelivr.net/highlight.js/8.9.1/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/highlight.js/8.9.1/languages/json.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/8.9.1/styles/default.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/8.9.1/styles/github.min.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.4.0/css/font-awesome.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.4.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css" />
</head>
